doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  ul
    li
      a(href="/mvc/home/about") About
    li
      a(href="/mvc/home/anypage") redirect to index
  block content
